<!doctype html>
<html lang="en">
<head>
  <base href="{{@SCHEME}}://{{@HOST}}:{{@PORT}}{{@BASE}}/" />
  <title>{{ @PAGE.TITLE }} | {{ (@show.title and @show.title != @PAGE.TITLE) ? @show.title : @SETTINGS.network_name }}</title>
  <!-- This site is responsive. Use full screen width. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Ensure use of most common Unicode characters -->
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/css/spectre.min.css">
  <link rel="stylesheet" href="/assets/css/spectre-exp.min.css">
  <link rel="stylesheet" href="/assets/css/spectre-icons.min.css">
  <script src="/assets/js/jquery-3.3.1.min.js"></script>
  <script src="/assets/js/ajax-loading.js"></script>

  <style>
    .column li { list-style: none; color: red; margin-top: 0; margin-bottom: 0; }
  </style>
</head>
<body style='background-color: #f9f9f9;'>
  <header class="navbar" style="padding: 1rem; box-shadow: 2px 2px 2px lightgrey;">
    <section class="navbar-primary">
      <div class='float-left'><a href="{{ 'feed_firehose' | alias }}" class='tooltip tooltip-right' data-tooltip='Subscribe to the network'><img class='m-2' src="assets/img/feed-icon-28x28.png" alt="Network RSS Feed" /></a></div>
      <a href="{{ 'home' | alias }}" class="navbar-brand"><span class="text-large">{{ @SETTINGS.network_name }}</span></a>
    </section>
    <section class="navbar-section">
      <check if="@SESSION.USER">
      <a href="{{ 'episode_new' | alias }}" class="btn btn-link">Publish</a>
      <a href="{{ 'media_index' | alias }}" class="btn btn-link">Media</a>
      <a href="{{ 'settings' | alias }}" class="btn btn-link">Settings</a>
      </check>
      <a href="{{ 'show_index' | alias }}" class="btn btn-link">Shows</a>
      <a href="{{ 'home' | alias }}" class="btn btn-success">Home</a>
      <check if="@SESSION.USER">
      <a href="{{ 'logout' | alias }}" class="btn btn-link">Logout</a>
      </check>
    </section>
  </header>

  <!-- MAIN CONTENT -->
  <div class="container centered grid-lg">
    <div class="columns">
      <!-- NETWORK LOGO -->
      <check if="@show_network_logo and @SETTINGS.network_logo_url">
      <div class='column col-4 col-md-8 col-sm-12 col-mx-auto my-1'>
        <img src='{{@SETTINGS.network_logo_url}}' class='img-responsive'>
      </div>
      </check>

      <!-- PAGE HEADER -->
      <div class="column col-12 text-center text-primary">
        <check if="{{ @PAGE.HEADER }}"><h1 style="margin-top: 5%;">{{ @PAGE.HEADER | raw }}</h1></check>
      </div>
    </div>
    <div class="columns">
      <include href="toast.htm" if="{{@SESSION.TOAST.msg}}">
      <include href="{{ @PAGE.CONTENT }}" />
    </div>
  </div>
  <!-- END MAIN CONTENT -->

  <!-- FOOTER -->
  <footer>
  <div id='footer' class="columns text-center">
    <div class="column text-gray">
      <div class="column col-12">
        <div class="divider"></div>
      </div>
      <p>
      <sub>
        Powered by {{@PACKAGE}} v{{ Controller::VERSION }} &bull; &copy; Copyright 2018 Phillip Smith.<br/>
        Licensed under <a href="{{ 'license' | alias }}">MIT License</a>.
      </sub>
      </p>
      <include href="debug.htm" if="{{ @DEBUG > 0 }}">
    </div>
  </div>
  </footer>
  <!-- END FOOTER -->
  <check if="@SETTINGS.analytics_code">
  <!-- ANALYTICS CODE -->
  {{ @SETTINGS.analytics_code | raw }}
  <!-- END ANALYTICS CODE -->
  </check>
</body>
</html>
