<!--
  episode_id serial NOT NULL,
  summary text NOT NULL,
  publish_ts timestamp with time zone DEFAULT now(),
  duration interval,
  explicit boolean NOT NULL,
  guid uuid NOT NULL,
-->
<check if="@episodes">
<true>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Show</th>
      <th>Episode</th>
      <th>Name</th>
      <th>Description</th>
      <th>Released</th>
    </tr>
  </thead>
  <tbody>
    <repeat group="{{ @episodes }}" value="{{ @item }}">
    <tr>
      <td>{{ @item.show_id }}</td>
      <td>{{ sprintf('S%02dE%02d', @item.season_number, @item.episode_number) }}</td>
      <td>{{ @item.title }}</td>
      <td><div class="text-ellipsis">{{ @item.summary }}</div></td>
      <td>{{ date('d M Y', strtotime(@item.publish_ts)) }}</td>
    </tr>
    </repeat>
  </tbody>
</table>
</true>
<false>
<h3 class='text-center'>Sorry, we haven't got anything published yet! Come back soon!</h3>
</false>
</check>
