<div class='columns'>
  <div class='column col-4 col-sm-8 col-mx-auto text-center'>
    <form method='post' class="form">
    <div class="form-group">
      <input class="form-input input-lg" type="text" id="userid" name="userid" placeholder="Username" />
    </div>
    <div class="form-group">
      <input class="form-input input-lg" type="password" id="passwd" name="passwd" placeholder="Password" />
    </div>
    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Login" />
    </div>
    </form>
  </div>
</div>

<div class='columns'>
  <div class='column col-6 col-sm-12 col-mx-auto text-center'>
    <p><em>This is a restricted access system. You should only attempt to login if you are an authorized user.</em></p>
  </div>
</div>
